    {% if metadata != None %}
            <h2>
                <a href="{{ metadata['url'] }}">{{ metadata["note"] }}</a>
            </h2>
    {% else %}
            <h2>{{ project_name }}</h2>
    {% endif %}
    Link to <a href="/download/{{project_name}}">Original Report</a> <br>

    <p>
        <ul>
            <li><b>Original</b>: Text extracted from PDF</li>
            <li><b>ChatGPT paged</b>: Each PDF page by ChatGPT 4o (very detailed)</li>
            <li><b>Gemini 2.0</b>: Full PDF with gemini-2.0-flash</li>
            <li><b>Gemini 2.5</b>: Full PDF with gemini-2.5-flash-preview-05-20</li>
        </ul>
    </p>