<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    {% include 'navigation.html' %}

    <div class="indent">
    <h2>Analyzed CTI Reports:</h2>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <ul>
        {% for project in projects %}
            <li>
                <a href="/project/{{ project }}">{{ project }}</a>
            </li>
        {% endfor %}
    </ul>

    </div>

</body>
</html>
