<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    {% include 'navigation.html' %}

    <div class="indent">
    <h2>Analyzed CTI Reports</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>
    CTI reports about incidents and malware analysis, analyzed by LLM's for TTPs. <br>
    With focus on the <b>procedures</b> part, which is generally missing in TTP analysis. <br>
    No IOCs are included, as they are not important. 
    </p>

    <table>
        {% for project, metadata in metadata.items() %}
            <tr>
                <td>
                    {{ metadata['ctime']|datetimeformat  }}
                </td>
                <td>
                    {% if metadata %}
                        <a href="/project/{{ project }}">{{ metadata['note'] }}</a>
                    {% else %}
                        {{project}}
                    {% endif %}
                </td>
                
            </tr>
        {% endfor %}
    </table>

    </div>

</body>
</html>
