<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    {% include 'navigation.html' %}

    <div class="indent">
    <h2>Analyzed CTI Reports:</h2>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table>
        <tr>
            <th>Report Title</th>
        </tr>

        {% for project, metadata in metadata.items() %}
            <tr>
                <td>
                    {% if metadata %}
                        <a href="/project/{{ project }}">{{ metadata['note'] }}</a>
                    {% else %}
                        {{project}}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    </div>

</body>
</html>
